<div class="row mt-4">
  <div class="col-md-6">
    <h3>View a Single Blog in Detail</h3>
    {{#if blog}}
    <div class="row mb-2">
      <div class="col-md-8">
    <p>{{blog.title}}</p>
    <p>Created by {{blog.user.name}} on {{format_date blog.createdAt}}</p>
    <p>{{blog.content}}</p>
    
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{blog.id}}">DELETE POST</button>
      </div>
    </div>
  </div>


  <div class="col-md-6 blog-list">

    {{#each blog.comments}}
    <div class="row mb-2">
      <div class="col-md-8">
        <p>Comment Created by {{user.name}} on {{format_date createdAt}}</p>
        <div>{{content}}</div>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{id}}">DELETE COMMENT</button>
      </div>
    </div>
    {{/each}}
  </div>

  {{/if}}


</div>

