<!-- Loop over each object in the blogs array -->
{{#each blogs as |blog| }}
<div class="row mb-4 blog">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/blog/{{blog.id}}">{{blog.name}}</a>
    </h2>
    <p><b>{{blog.title}}</b></p>
    <p>Created by <b>{{blog.user.name}}</b> on {{format_date blog.createdAt}}</p>
    <p>{{blog.content}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{blog.description}}
    </p>
  </div>
</div>
{{/each}}
